<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I have over 3 years of experience working in the semiconductor industry as a software engineer and currently pursuing a Master's degree in Business Analytics. I initially majored in Advertising but developed an interest in software engineering. In my Masters, I began to gear my concentration towards data analysis, machine learning. As a result, I obtained a unique blend of interests.
    <br><br>
	• Experienced in Software engineering at Samsung Electronics Semiconductor. Developed applications using Python. Developed test firmware using C, analyzed and reported results
	<br>
	• Experienced in Data Analysis. Analyzing unstructured data via Python or R; performed ML and NLP modeling to deliver business insights. Hands-on experience developing Pandas, Numpy, Scikit-Learn
	<br>
	• Strong analytics skills, Time-sensitive 
</div>