<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I always make a challenge to learn new thing, so I have 3+ years experience as a software engineer in the semiconductor industry even I majored advertising in undergraduate, and now I am pursuing a Business Analytics master degree at Drexel University. 

	As a problem solver, I had to deal with new problems every day in career experience and understood how to solve puzzles with software engineering. Now, I am learning how to work with data and statistics to resolve problems.

	As an advertising major, I have learned how to convince people. As a software engineer, I have gotten used to playing with computer languages, Python and C, and well trained to think with logic. As a Business Analytics student, I am getting used to seeing the world as a whole data set and interesting in analyzing the world. I expect to graduate in March 2020 and hope to be an analyst who contributes in business success and bring meaningful insights to the world by combining my experience.


</div>